@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #F3EFFA;
  background-color: #09040e;
  font-family: "Rubik";
}
body .container {
  width: 320px;
  margin: 0 auto;
  width: 80%;
}
@media screen and (min-width: 560px) {
  body .container {
    max-width: 1024px;
  }
}
body .container header {
  visibility: hidden;
  writing-mode: vertical-rl;
}
@media screen and (min-width: 560px) {
  body .container header {
    position: fixed;
    top: 25%;
    left: 30px;
  }
}
@media screen and (min-width: 560px) {
  body .container header nav ul {
    visibility: visible;
    display: flex;
    gap: 3rem;
  }
}
body .container header nav ul li {
  font-size: 20px;
}
body .container header nav ul li a:link, body .container header nav ul li a:visited {
  text-decoration: none;
  color: #F3EFFA;
}
body .container header nav ul li a:hover {
  color: #6E00E8;
}
body .container header nav ul li:hover {
  color: #6E00E8;
}
body .container footer {
  padding: 2rem 0;
  text-align: center;
  font-size: 14px;
}
body ul {
  list-style-type: none;
}
body img {
  max-width: 300px;
}
body p {
  line-height: 1.25;
}

#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#home .content p {
  font-size: 16px;
  padding-bottom: 1rem;
}
@media screen and (min-width: 560px) {
  #home .content p {
    font-size: 24px;
  }
}
#home .content h1 {
  font-size: 36px;
  background: linear-gradient(180deg, rgb(160, 110, 216) 0%, rgb(110, 0, 232) 100%);
  color: rgb(160, 110, 216);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 560px) {
  #home .content h1 {
    font-size: 64px;
  }
}
#home .content h2 {
  font-size: 24px;
  font-family: "Roboto Mono";
  padding-bottom: 2rem;
}
@media screen and (min-width: 560px) {
  #home .content h2 {
    font-size: 48px;
  }
}
#home .animation {
  margin-bottom: 2rem;
  font-size: 20px;
}
@media screen and (min-width: 560px) {
  #home .animation {
    font-size: 36px;
  }
}
#home .resume a:link, #home .resume a:visited {
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  color: #F3EFFA;
  border: 1px solid #F3EFFA;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  display: inline-block;
}
#home .resume a:hover {
  color: #6E00E8;
  border: 1px solid #6E00E8;
}

#about {
  margin: 5rem 0;
}
#about .headline {
  display: flex;
  gap: 2rem;
}
#about .headline h2 {
  padding-top: 100px;
}
@media screen and (min-width: 560px) {
  #about .headline h2 {
    font-size: 36px;
  }
}
#about .headline hr {
  margin: 1rem 0;
  width: 250px;
  border: 1px solid #F3EFFA;
  border-top: none;
  border-right: none;
  border-left: none;
}
#about h3 {
  margin: 2rem 0;
}
@media screen and (min-width: 560px) {
  #about .upper-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    gap: 2rem;
  }
}
#about .upper-row .description {
  line-height: 1.25;
  margin: 2rem 0;
}
#about .upper-row .profile-pic {
  max-width: 200px;
  margin: 0 auto;
}
#about .upper-row .profile-pic img {
  width: 200px;
  border-radius: 10px;
}
#about .skill .skill-icon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
@media screen and (min-width: 560px) {
  #about .skill .skill-icon {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  #about .skill .skill-icon {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}

#work {
  margin: 5rem 0;
}
#work .headline {
  display: flex;
  gap: 2rem;
}
#work .headline h2 {
  padding-top: 100px;
}
@media screen and (min-width: 560px) {
  #work .headline h2 {
    font-size: 36px;
  }
}
#work .headline hr {
  margin: 1rem 0;
  width: 250px;
  border: 1px solid #F3EFFA;
  border-top: none;
  border-right: none;
  border-left: none;
}
#work .works {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  #work .works {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
#work .works .weather-app {
  border: 1px solid #c5b0e4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 5px 10px 0px -2px rgb(9, 4, 14), 5px 10px 0px 0px rgba(197, 176, 228, 0.2);
  max-width: 300px;
}
#work .works .weather-app .content {
  width: 90%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#work .works .weather-app .content img {
  width: 100%;
  border-radius: 10px;
}
#work .works .weather-app .content .app-name {
  font-weight: 600;
  font-size: 20px;
}
#work .works .weather-app .content .stack {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}
#work .works .weather-app .content .stack p {
  color: #F3EFFA;
  font-size: 14px;
  border: 1px solid #c5b0e4;
  border-radius: 20px;
  display: inline-block;
  padding: 0.3rem 1rem;
}
#work .works .weather-app .content .work-links {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}
#work .works .weather-app .content .work-links a:link, #work .works .weather-app .content .work-links a:visited {
  text-decoration: none;
}
#work .works .weather-app .content .work-links svg:hover {
  cursor: pointer;
  fill: #6E00E8;
}
#work .works .weather-app:hover {
  border: 1px solid #6E00E8;
}

#contact {
  margin: 5rem 0;
}
#contact .headline {
  display: flex;
  gap: 2rem;
}
#contact .headline h2 {
  padding-top: 100px;
}
@media screen and (min-width: 560px) {
  #contact .headline h2 {
    font-size: 36px;
  }
}
#contact .headline hr {
  margin: 1rem 0;
  width: 250px;
  border: 1px solid #F3EFFA;
  border-top: none;
  border-right: none;
  border-left: none;
}
#contact p {
  text-align: center;
  margin: 3rem 0;
}
#contact p span {
  color: #6E00E8;
}
#contact form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#contact form input {
  background-color: transparent;
  border: 1px solid #c5b0e4;
  color: #F3EFFA;
  border-radius: 10px;
  padding: 1rem 0 1rem 0.5rem;
  width: calc(100% - 0.5rem);
}
@media screen and (min-width: 560px) {
  #contact form input {
    width: calc(400px - 0.5rem);
    margin: 0 auto;
  }
}
#contact form input::placeholder {
  color: #c5b0e4;
}
#contact form input:hover {
  border: 1px solid #6E00E8;
}
#contact form textarea {
  background-color: transparent;
  border: 1px solid #c5b0e4;
  border-radius: 10px;
  padding: 2rem 0 2rem 0.5rem;
  vertical-align: middle;
  color: #F3EFFA;
}
@media screen and (min-width: 560px) {
  #contact form textarea {
    width: calc(400px - 0.5rem);
    margin: 0 auto;
  }
}
#contact form textarea:hover {
  border: 1px solid #6E00E8;
}
#contact form textarea::placeholder {
  color: #c5b0e4;
  font-family: "Rubik";
}
#contact form button {
  background-color: #6E00E8;
  color: #F3EFFA;
  border: 1px solid #6E00E8;
  border-radius: 10px;
  width: 100%;
  padding: 0.5rem 0;
  cursor: pointer;
}
@media screen and (min-width: 560px) {
  #contact form button {
    width: 400px;
    margin: 0 auto;
  }
}
#contact form button:hover {
  border: 1px solid #6E00E8;
}

@media screen and (min-width: 560px) {
  .social-media {
    position: fixed;
    display: flex;
    top: 40%;
    right: 30px;
  }
}
.social-media ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 560px) {
  .social-media ul {
    flex-direction: column;
  }
}
.social-media ul a:link, .social-media ul a:visited {
  text-decoration: none;
}
.social-media ul a:link svg, .social-media ul a:visited svg {
  width: 20px;
}
@media screen and (min-width: 560px) {
  .social-media ul a:link svg, .social-media ul a:visited svg {
    width: 25px;
  }
}
.social-media ul a:link svg:hover, .social-media ul a:visited svg:hover {
  fill: #6E00E8;
}

/*# sourceMappingURL=style.css.map */
