@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$title-size: 64px;
$heading1-size: 48px;
$heading2-size: 36px;
$heading3-size: 24px;
$body1-size: 20px;
$body2-size: 16px;
$body3-size: 14px;
$base-font: "Rubik";
$highlight-font: "Roboto Mono";